// IMPORT
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

// SASS VARIABLES
$sidenav_w: 60px;
$min_w: 250px;
$shadow1: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;;
$transition1: .25s;
$pcWidth: 800px;
$maxWidth: 1200px;

  // Colors
  $colorMain: red;
  $colorSecundary: rgb(177, 0, 0);
  $colorText: white;
  $colorBackground: rgb(55, 55, 55);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
  --colorMain: #ff0000;
  --colorSecundary: rgb(206, 2, 2);
  --colorBg: rgb(22, 22, 22);

  // Mobile Menu
  --colorBgMenu: rgb(255, 255, 255);
  --colorBgMenu2: rgba(255, 255, 255, 0.85);
  --durationMobileMenu: .7s;
}


a {
  text-decoration: none;
  color: $colorText;
  transition: opacity $transition1;
}
h1,h2,h3,h4,h5,h6 {
  text-transform: uppercase;
}
html {
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(39, 39, 39);
  color: $colorText;
  min-width: $min_w;
}
.box {
  min-height: 90vh;
  max-width: $maxWidth;
  margin: 0 auto;
  position: relative;
  padding-top: 2em;
}

//////////////////////// PRELOADER
#preLoader::before {
  content: "";
  position: absolute;
  z-index: 1;
  background-image: linear-gradient(to bottom, var(--colorMain), transparent);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
#preLoader {
    position: fixed;
    inset: 0;
    z-index: 1000000;
    display: flex;
    flex-direction: column;
    gap: 15vh;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    transition: transform .5s;
    background: linear-gradient(-45deg, rgb(68, 10, 10), rgb(145, 20, 20), rgb(197, 37, 37), rgb(204, 13, 13));
    background-size: 400% 400%;
    animation: preloaderBG 2s ease infinite;

    @keyframes preloaderBG {
      0%, 100%, 15%, 85%  {background-position: 0% 50%;}
      50% {background-position: 100% 50%;}
    }

    .inner {
      z-index: 1;
      width: 250px;
      transform-style: preserve-3d;
      animation: card 2s infinite;
      position: relative;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      text-shadow: $shadow1;
    }
    .front, .back {
      backface-visibility: hidden;
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .front {
      font-size: 6rem;
    }
    .back {
      font-size: 3rem;
      transform: rotateY(180deg) rotate(90deg);
    }
    .loading {
      z-index: 1;
      font-size: 1.5em;
    }
  }

  @keyframes card {
    0%, 100%, 15%, 85% {transform: rotateY(0deg) rotate(0deg)}
    50% {transform: rotateY(200deg) rotate(100deg) scale(.8)}
}

//////////////////////// NAVIGATION
#navMobile {
  position: fixed;
  z-index: 50;
  bottom: 0;
  width: 100%;

  .mobMenu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    padding: 0 2.85em;
    background-image: linear-gradient(to bottom, var(--colorMain), var(--colorSecundary));
    backdrop-filter: blur(8px);
    will-change: transform;
  }
  .mobNavBord {
    position: absolute;
    left: 0;
    height: 2.4em;
    width: 10.9em;
    bottom: 99%;
    clip-path: url(#menu);
    will-change: transform;
    background-color: var(--colorMain);
    transition: transform var(--durationMobileMenu);
    z-index: -1;
  }

  .mobNavItem {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    
    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transition: transform var(--durationMobileMenu);
      will-change: transform;
      padding: 10px 0;
      height: 3em;
      width: 3em;
      z-index: 1;
      padding: 5px;
      position: relative;
      perspective: 4em;

      svg {
        transition: rotate var(--durationMobileMenu), scale var(--durationMobileMenu);
        path {
          fill: var(--colorBgMenu);
          transition: fill calc(var(--durationMobileMenu) / 2);
        }
      }
    }
    .icon::before{
      content: "";
      z-index: -1;
      width: 4em;
      height: 4em;
      border-radius: 50%;
      position: absolute;
      transform: scale(0);
      transition: background-color var(--durationMobileMenu), transform var(--durationMobileMenu), fill var(--durationMobileMenu);
    }
  }
  .mobNavItem.mobNavActive {
    .icon {
      transform: translate3d(0, -.8em , 0);

      svg {
        rotate: y 0.5turn;
        scale: 1.3;
        path {fill: var(--colorMain);}
      }
    }
    .icon::before{
      transform: scale(1.2);
      background-color: var(--colorBgMenu);
      box-shadow: inset 0 0 5px #39393982;
    }
  }
}

#navDesktop {
  display: none;
  justify-content: space-between;
  padding: 1rem;
  position: sticky;
  background-color: #1f1f1f;
  top: 0;
  z-index: 10;
  max-width: $maxWidth;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: bold;

  .menu {
    display: flex;
    gap: 10px;
  }
}

.svg-container {
  width: 0;
  height: 0;
}

// SITE
#home {
  background-image: url(../img/parallax/02.webp);
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  text-shadow: $shadow1;
  text-transform: uppercase;

  img {
    fill: blue;
  }

  #parallax1 {
    position: absolute;
    bottom: -5px;
    width: 100%;
  }

  .title {
    position: absolute;
    left: 10%;
    bottom: 10%;
  }
  p {
    font-size: 25px;
  }
}

#work {
  background-color: #1f1f1f;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  
  .btn {
    background-color: $colorBackground;
    padding: 10px 15px;
    border-radius: 25px;
    text-transform: uppercase;
    box-shadow: $shadow1;
    font-size: 20px;
    user-select: none;
    cursor: pointer;
    transition: background-color $transition1, color $transition1;
  }
  .btn:hover {
    background-color: $colorText;
    color: $colorBackground;
  }
  .active {
    background-color: $colorMain;
  }
  
  // Filter Menu
  #filterMenu {
    display: flex;
    gap: 5px;
    overflow-x: auto;
    width: 100%;
    padding: 8px 0 8px 10px;

    .btn {
      gap: 10px;
      display: flex;
      align-items: center;
      padding: 0 10px 0 0;
      border: 2px solid rgba(255, 255, 255, 0.25);

      img {
        height: 35px;
        width: 35px;
        border-radius: 50% 0 0 50%;
      }
    }
  }
  #gallery {
    gap: 4px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: auto;
    width: 100%;

    .filter {
      position: relative;
      background-color: $colorBackground;
      cursor: pointer;
      aspect-ratio: 1/1;
      transition: transform $transition1, box-shadow $transition1, background-color $transition1;
    }
    .filter:hover {
      transform: scale(0.95);
      background-color: $colorMain;
      box-shadow: inset 0 0 30px rgba(29,29,29,.5);
    }
    b {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 2;
      text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px, rgba(0, 0, 0, 0.9) 0px 0px 3px;
      padding: 10px;
      width: 100%;
      text-transform: uppercase;
      font-size: 20px;
      background-image: linear-gradient(180deg, #00000000, #1a1a1a);
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

#about {
  background-color: #1d1d4d;
  img {
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: $shadow1;
    max-width: 90%;
  }
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;

  div {
    max-width: 500px;
  }
}
#contact > div {
  background-color: #262626;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#sendMail {
  display: flex;
  flex-direction: column;
  gap: .5rem;

  input, textarea, button {
    border-radius: 15px;
    padding: 8px;
    border: 0;
  }
  button {
    background-color: $colorMain;
    cursor: pointer;
  }
}
#redcatID {
  background-image: linear-gradient(14deg, #511515, red);
  padding: 12px;
  height: 100px;
  width: 180px;
  border-radius: 1rem;
  box-shadow: 2px 2px 2px #141414c2;
}


//////////////////////// FOOTER
footer {
    color: $colorText;
    background-image: linear-gradient(to bottom, #1a1a1a, #0f0f0f);
    display: grid;
    row-gap: 2rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    padding: 3rem;
    padding-bottom: 200px;
    border-radius: 3rem 3rem 0 0;
    max-width: $maxWidth;
    margin: 0 auto;
    width: 100%;
    min-height: 350px;

    .title {
      font-size: 1.3rem;
      text-transform: uppercase;
      font-weight: bold;
    }

    :first-child {
      .social {
        display: flex;
        flex-direction: row;
        gap: .5rem;
      }
      i {
        font-size: 2rem;
      }
    }
}
footer > div {
  grid-column: span 12;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  gap: 5px;
}

@media screen and (max-width: 50em) {
  #navMobile{
      font-size: .8em;
  }
}
@media screen and (min-width: $pcWidth) {
  #navMobile{
      display: none;
  }
  #navDesktop {
    display: flex;
  }
  footer > div {
    //text-align: left;
    align-items: flex-start;
    grid-column: span 4;
  }
}